*{
    background-color: #6699CC;
    color: #333333;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    /* text-align: center; */
}

.home-header{
    text-align: center;
}

.container{
    text-align: center;
}
img{
    border-color: #FFFFFF;
    border-style: solid;
}

a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.content{
    text-align:left;
}

h2{
    text-decoration: underline;
}