/*General formatting*/
*{
    background-color: #F5EFE1;
    color: #6D5942;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    /* text-align: center; */
}


.container{
    text-align: center;
}

/*Image ratios*/
img{
    border-color: #8B5A2B;
    border-style: solid;
}


.recipe-pictures, .home-page-picture{
    height: 300px;
    width: auto;
}

/*Link States*/
a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

a:active{
    color:#E9B96E;
}
    

/*Button States*/

button:hover{
    background-color: #FFFFFF;
    
}

button:active{
    background-color: #8B5A2B;
    color:white;
}


/*Recipe headers*/
h2{
    text-decoration: underline;
}



.homepage-recipes{
    display:inline-block;
    padding: 20px;
    border-color: #946A4C;
    border:1px;
}